@import "vars";
@import "mixins";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /*font-family: 'TrajanPro3-Regular';*/
  font-family: 'Circe-Regular';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.010em;
  color: $txt-color;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  cursor: pointer;
}

.default-btn {
  a {
    font-family: 'Circe-Bold';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.14em;
    letter-spacing: 0.009em;
    color: #FFFFFF;
    background: $btn-bg-color;
    border-radius: 8px;
    padding: 22px 43px 19px;

    &:active {
      color: #AE7669;
      background-color: #F8E3DB;
      border-radius: 8.5px;
    }
  }
}

.default-title {
  font-family: 'TrajanPro3-Regular';
  font-weight: 400;
  font-size: 45px;
  line-height: 1.43em;
  letter-spacing: 0.002em;
  color: $default-title-color;
  position: relative;

  span {
    font-family: 'WildernessTypeface-Regular';
    font-weight: 400;
    font-size: 140px;
    line-height: .30em;
    letter-spacing: 0.003em;
    color: $default-span-color;
    position: absolute;
    right: 23px;
    bottom: -10px;
  }
}

.default-txt {
  font-family: 'Circe-Regular';
  font-weight: 400;
  font-size: 24px;
  line-height: 1.61em;
  color: $txt-color;
  letter-spacing: -0.0078em;
}

.form__btn {
  padding: 16px 79.3px;
  text-transform: uppercase;
  font-family: 'Circe-Bold';
  font-weight: 700;
  @include adaptiv-font(25, 25);
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  outline: none;
  border-radius: 8px;
  border: 2px solid $btn-title-color;
  background: $btn-bg-color;
  cursor: pointer;

  &:active,
  &:hover {
    color: $btn-title-color;
    border: 2px solid $btn-title-color;
    border-radius: 8.5px;
    background: #FFFFFF;
  }
}

/*-------search-form---------*/
.search-form {
  padding: 22px 0;
  background-color: $form-bg-color;
}

.search-form__container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}

.search-form__inner {
  padding: 0 30px;

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    label {
      max-width: 370px;
      width: 100%;
      position: relative;
    }

    input {
      width: 100%;
      outline: none;
      border: none;
      padding: 8px 8px 6px 24px;
      font-family: 'Circe-Regular';
      font-weight: 400;
      font-size: 20px;
      line-height: 1.6em;

      &::placeholder {
        color: #efccbf;
      }
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      width: 62px;
      height: 100%;
      border: none;
      background: #FFFFFF;
      cursor: pointer;
      outline: none;

      &::before {
        content: '';
        background-image: url('../img/magnifier.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 22px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }
  }
}

.active-passive {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #AC8478;
  top: 0;
  //left: 0;
  cursor: pointer;

  span {
    position: absolute;
    width: 11px;
    height: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #AC8478;
  }

  span.plus {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    transition: all .2s;
    opacity: 1;
  }

  span.plus-active {
    opacity: 0;
    transition: all .2s;
  }
}


.radio__btn {

}

.radio__input {
  display: none;
  position: absolute;
  -webkit-appearance: none;
}

.radio__label {
  padding-left: 40px;
  cursor: pointer;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 2px solid #AC8478;
    z-index: 1;
  }

  &:after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: #ac8478;
    z-index: 2;
    opacity: 0;
  }
}

.radio__input:checked + .radio__label:before {
  background-color: transparent;
}


.radio__input:checked + .radio__label:after {
  opacity: 1;
}

.hide {
  position: absolute;
  overflow: hidden;
  z-index: -100;
  width: .1px;
  height: .1px;
  opacity: 0;
}

/*    пустой блок, чтобы вытащить основной контент из-под шапки   */
.content {
  padding-top: 152px;
}


/*---------------*/
.ui-timepicker-container,
.ui-timepicker-standard {
  font-size: 16px;
}
