$txt-color: #565656;
$nav-icon-color: #AC8478;
$nav-btn-color: #AE7669;
$nav-btn-bg-hover: rgba(239, 204, 191, 0.5);
$nav-btn-bg: rgba(249, 237, 228, 0.35);
$btn-bg-color: #AE7669;
$btn-bg-hover-color: #F8E3DB;
$btn-title-color: #AE7669;
$default-title-color: #565656;
$default-span-color: #EFCCBF;
$services-bg: rgba(241, 227, 222, 0.5);
$services-item-bg: #FDFAFA;
$services-item-border: #EFCCBF;
$item-number-color: #EFCCBF;
$form-bg-color: rgba(239, 204, 191, 0.5);
$input-placeholder-color: #E4C3B7;
$swiper-arrow-color: #EFCCBF;
$footer-bg: rgba(241, 227, 222, 0.5);
$burger-menu-bg: #F8E3DB;
$burger-menu-nav-color: #AC8478;
$burger-menu-nav-border: #E4C3B7;
$burger-menu-login-bg: rgba(239, 204, 191, 0.5);
$home-care__title: #714D47;
$advantages-bg: rgba(241, 227, 222, 0.5);
