@import "vars";
@import "libs";
@import "fonts";
@import "global";
@import "mixins";

/*-------------header--------------*/
.header {
  padding: 32px 0 23.5px 0;
}

.header__container {
  max-width: 1379px;
  padding: 0 5px;
  width: 100%;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header__logo {
  max-width: 374px;
  width: 100%;

  padding: 6px 0 0 0;

  img {
    //max-width: 374px;
    width: 100%;
  }
}

.header__content {
  display: flex;
}

.header__menu {
  margin-right: 47px;
  padding: 57px 0 0 0;

  ul {

  }

  li {
    display: inline-block;
  }

  li + li {
    padding-left: 36px;
  }

  a {
    font-family: 'MuseoSansCyrl-Medium';
    font-weight: 600;
    @include adaptiv-font(22, 22);
    line-height: 1em;
    color: $txt-color;
    text-transform: uppercase;
    letter-spacing: 0.004em;

    &:hover {
      border-bottom: 1px solid $txt-color;
    }
  }
}

.header__phone,
.header__login {
  text-align: center;

  a {
    display: block;
  }

  a:first-child {
    position: relative;
    @include adaptiv-font(20, 20);
    line-height: 1em;
    letter-spacing: -0.056em;
    color: $txt-color;

    &::before {
      font-family: "Flaticon";
      color: $nav-icon-color;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.header__phone {
  margin-right: 30px;

  .header__phone-phone {
    font-family: 'MuseoSansCyrl-Bold';
    font-weight: 700;
    padding: 0 14px 0 35px;
    margin-bottom: 18px;

    &::before {
      content: "\f100";
      left: 2px;
      @include adaptiv-font(24, 20);
    }
  }
}

.header__login {
  .header__login-txt {
    font-family: 'MuseoSansCyrl-Medium';
    font-weight: 600;
    padding: 0 0 0 17px;
    margin-bottom: 18px;

    &::before {
      content: "\f101";
      @include adaptiv-font(22, 20);
      left: 14px;
    }
  }
}

.header__phone-btn,
.header__login-btn {
  font-family: 'Circe-Bold';
  font-weight: 700;
  @include adaptiv-font(20, 20);
  color: $nav-btn-color;
  letter-spacing: -0.001em;
  line-height: 1.02em;
  border: 2px solid $nav-btn-color;
  border-radius: 8px;
  background-color: $nav-btn-bg;


  &:hover {
    background-color: $nav-btn-bg-hover;
  }

}

.header__phone-btn {
  padding: 19px 33px 16px 28px;
  letter-spacing: -0.002em;
}

.header__login-btn {
  padding: 19px 19px 16px 17px;
}

.header__btn-box {
  display: none;
}


/*----------------quality--------------------*/
/*----------------helping-hand--------------------*/
.quality,
.helping-hand {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  padding: 179px 0 131px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #FFFFFF;
}

.quality {
  background-image: url("../img/quality-bg.jpg");
}

.helping-hand {
  background-image: url("../img/helping-hand-bg.jpg");
}

.quality__container {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
}

.helping-hand__container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.quality__title {
  font-family: 'TrajanPro3-Regular';
  font-weight: 400;
  @include adaptiv-font(81, 44);
  line-height: 1.36em;
  letter-spacing: .015em;
  text-transform: uppercase;

  span {
    padding-right: 24px;
  }
}

.helping-hand__title {
  font-family: 'TrajanPro3-Regular';
  font-weight: 400;
  @include adaptiv-font(45, 26);
  line-height: 1.23em;
  letter-spacing: 0.002em;
  color: #FFFFFF;
  position: relative;
  text-transform: uppercase;
  padding-bottom: 10px;
  span {
    display: block;
  }
}

.quality__subtitle,
.helping-hand__subtitle {
  display: block;
  font-family: 'WildernessTypeface-Regular';
  font-weight: 400;
  @include adaptiv-font(175, 100);
  line-height: .5em;
  letter-spacing: 0.003em;
  padding-bottom: 129px;
}

.quality__btn,
.helping-hand__btn {
  a {
    padding: 22px 39px 19px;
    @include adaptiv-font(24, 24);

    &:active {
      color: #AE7669;
      background-color: #F8E3DB;
      border-radius: 8.5px;
    }
  }

}

/*---------about---------*/
.about {
  padding: 71px 0 141px;
}

.about__container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__title {
  max-width: 431px;
  width: 100%;
  @include adaptiv-font(46, 35);
  letter-spacing: 0.009em;
}

.about__info {
  max-width: 700px;
  width: 100%;

  p:nth-child(2) {
    letter-spacing: -0.0087em;
    padding-right: 44px;
    line-height: 1.38em;
  }
}


/*---------------services------------------*/
/*---------------care-services------------------*/
.services,
.care-services{
  background-color: $services-bg;
  padding: 101px 0 114px;
  text-align: center;
}

.services__container,
.care-services__container {
  max-width: 1165px;
  padding: 0 5px;
  width: 100%;
  margin: 0 auto;
}

.services__title,
.care-services__title {
  @include adaptiv-font(43, 35);
  text-transform: capitalize;
  letter-spacing: -0.024em;
  padding: 0 0 40px 0;
}

.services__top,
.care-services__top {
  padding: 0 0 41px 0;
}

.services__txt,
.care-services__txt {
  line-height: 1.46em;
}

.services__content-items,
.care-services__content-items {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  min-height: 497px;
}

.care-services__content-items-top,
.care-services__content-items-bottom {
  display: flex;
  flex-wrap: wrap;
}

.care-services__content-items-top {
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
}

.care-services__content-items-bottom {
  justify-content: space-between;
  max-width: 74.5%;
  width: 100%;
  margin: 0 auto;
}

.services__content-item,
.care-services__content-item {
  display: inline-block;
  max-width: 270px;
  width: 100%;
  min-height: 234px;
  background-color: $services-item-bg;
  border: 2px solid $services-item-border;
  box-shadow: 0px 3px 30px rgba(239, 204, 191, 0.5);
  border-radius: 8px;
  font-family: 'Circe-Bold';
  font-weight: 700;
  letter-spacing: -0.02em;
  padding: 39px 68px 23px 60px;

  img {
    max-width: 100px;
    width: 100%;
    margin-bottom: 7px;
  }

  span {
    display: block;
  }

  &:active {
    transform: scale(1.04);
    box-shadow: 0px 3px 30px $services-item-border;
  }
}

.services__content-item {

  &:nth-child(2) {
    padding: 39px 68px 16px 67px;

    img {
      max-width: 75px;
      margin-bottom: 16px;
    }
  }

  &:nth-child(3) {
    padding: 48px 57px 23px 53px;
    line-height: 1.28em;

    img {
      max-width: 127px;
      margin-bottom: 20px;
    }
  }

  &:nth-child(4) {
    padding: 47px 62px 16px 55px;
    line-height: 1.3em;

    img {
      max-width: 84px;
      margin-bottom: 17px;
    }
  }

  &:nth-child(5) {
    padding: 30px 58px 16px 55px;
    line-height: 1.35em;

    img {
      max-width: 96px;
      margin-bottom: 19px;
    }
  }

  &:nth-child(6) {
    padding: 40px 58px 16px 58px;
    line-height: 1.42em;

    img {
      max-width: 88px;
      margin-bottom: 19px;
    }
  }

  &:nth-child(7) {
    padding: 40px 58px 16px 58px;
    line-height: 1.42em;

    img {
      max-width: 95px;
      margin-bottom: 11px;
    }
  }

  &:last-child {
    padding: 99px 41px 16px 38px;
  }
}

.care-services__content-item {
  .services__content-items-bottom {

  }
}

/*-------------we-can------------*/
.we-can {
  padding: 94.5px 0 102px;
}

.we-can__container {
  max-width: 1231px;
  width: 100%;
  margin: 0 auto;
}

.we-can__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.we-can__info {
  max-width: 580px;
  width: 100%;
  padding: 8px 0 0 0;
}

.we-can__title {
  padding: 0 118px 80px 0;
  @include adaptiv-font(37, 36);
  line-height: 1.47em;
  letter-spacing: -0.015em;
  text-transform: capitalize;

  span {
    right: 2px;
    top: 50%;
    transform: translate(0, -23%);
  }
}

.we-can__text {
  line-height: 1.50em;
}

.we-can__items {
  max-width: 499px;
  width: 100%;
  padding: 0 0 1px 0;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.we-can__item {
  max-width: 201px;
  width: 100%;
  padding-top: 2px;

  &:nth-child(3),
  &:nth-child(4) {
    padding-top: 0;
  }
}

.we-can__item-number {
  font-family: 'Trajan Pro Regular';
  font-weight: 400;
  @include adaptiv-font(78, 45);
  line-height: 1.23em;
  letter-spacing: 0.0001em;
  color: $item-number-color;
  padding: 0 0 13px 0;

  &:nth-child(1),
  &:nth-child(2) {
    padding: 0 0 16px 0;
  }
}

.we-can__item-text {
  font-family: 'Circe-Bold';
  font-weight: 700;
  @include adaptiv-font(20, 19);
  letter-spacing: 0.001em;
}


/*-----------------helping-------------------*/
.helping {
  padding: 205px 0 210px;
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/helping-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.helping__container {
  max-width: 1231px;
  width: 100%;
  margin: 0 auto;
}

.helping__inner {
  max-width: 481px;
  width: 100%;
}

.helping__title {
  padding: 0 0 38px 0;
  @include adaptiv-font(35, 35);
  line-height: 1.7em;
  letter-spacing: 0.019em;
  text-transform: capitalize;
}

.helping__btn {
  a {
    padding: 17px 50.4px 15.5px;
    border: 2px solid $btn-bg-color;
    color: $btn-title-color;
    background-color: $nav-btn-bg;
    letter-spacing: -0.038em;
    @include adaptiv-font(25, 24);

    &:active {
      color: #FFFFFF;
      background: $btn-bg-color;
    }
  }
}


/*----------------choose------------------*/
.choose {
  padding: 104px 0 69px;
}

.choose__container,
.questioner__container {
  max-width: 1356px;
  width: 100%;
  margin: 0 auto;
}

.choose__title,
.questioner__title {
  padding: 0 95px 39px 0;
  text-align: center;
  @include adaptiv-font(40, 36);
  line-height: 1.5em;
  letter-spacing: 0.01em;
}

.choose__content,
.questioner__content {
  display: flex;
  justify-content: space-between;
  padding-right: 52px;
}

.choose__content-left,
.choose__content-right,
.questioner__content-left,
.questioner__content-right {
  max-width: 580px;
  width: 100%;
}

.choose__content-right,
.questioner__content-right {
  max-width: 604px;

  .choose__content-item,
  .questioner__content-item {
    &:nth-child(1) {
      padding-right: 24px;
    }

    &:nth-child(2) {
      padding-right: 8px;
    }
  }
}

.choose__content-item,
.questioner__content-item {
  max-width: 620px;
  width: 100%;
  padding-bottom: 35px;
}

.choose__content-question,
.choose__content-answer,
.questioner__content-question,
.questioner__content-answer {
  @include adaptiv-font(25, 22);
  padding: 0 0 0 63px;
  position: relative;

  span {
    position: absolute;
    left: 0;
    top: 0;
    text-transform: uppercase;
    font-family: 'TrajanPro3-Regular';
    font-weight: 400;
    @include adaptiv-font(45, 39);
    line-height: 1.13em;
    color: $item-number-color;
  }
}

.choose__content-question,
.questioner__content-question {
  font-family: 'Circe-Bold';
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: -0.01em;
  padding-bottom: 10px;
}

.choose__content-answer,
.questioner__content-answer {
  font-family: 'Circe-Regular';
  font-weight: 400;
  line-height: 1.49em;
  letter-spacing: -.013em
}


/*----------------form------------------*/
.form {
  padding: 102px 0 104px;
  background-color: $form-bg-color;
}

.form__container {
  max-width: 1374px;
  width: 100%;
  margin: 0 auto;
}

.form__inner {
  display: flex;
  justify-content: space-between;
}

.form__content {
  max-width: 542px;
  width: 100%;
  background-image: url("../img/form-bg.png");
  background-position: top 19px center;
  background-size: auto;
  background-repeat: no-repeat;
  padding-left: 73px;
  padding-right: 88px;
}

.form__title {
  @include adaptiv-font(40, 36);
  letter-spacing: 0.013em;
  line-height: 1.45em;
  text-transform: capitalize;
  padding: 0 0 42px 0;
}

.form__text {
  line-height: 1.5em;
  letter-spacing: -0.006em;
}

.form__box {
  max-width: 803px;
  width: 100%;
  padding: 13px 72px 0 0;

  label,
  input,
  textarea {
    width: 100%;
    outline: none;
    border: none;
  }

  label + label {
    padding-left: 15px;
  }

  input,
  textarea {
    padding: 10px 11px 7px 24px;
    font-family: 'Circe-Regular';
    font-weight: 400;
    @include adaptiv-font(20, 20);
    line-height: 1.4em;
    letter-spacing: .006em;

    &::placeholder {
      color: $input-placeholder-color;
    }

    &:focus {
      color: $txt-color;
    }
  }

  .form__box-group {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  input[placeholder="Name"] {
    max-width: 210px;
    width: 100%;
  }

  input[placeholder="Address"] {
    max-width: 316px;
    width: 100%;
  }

  input[placeholder="DOB"] {
    max-width: 163px;
    width: 100%;
  }

  input[placeholder="Email"] {
    max-width: 389px;
    width: 100%;
  }

  input[placeholder="Phone Number"] {
    max-width: 320px;
    width: 100%;
  }

  label {
    textarea {
      outline: none;
      resize: none;
      width: 99.93%;
      min-height: 108px;
      padding-top: 11px;
      margin-bottom: 10px;
    }
  }
}

/*--------------partner--------------*/
.partner {
  padding: 100px 0 122px;
}

.partner__container {
  max-width: 1275px;
  width: 100%;
  margin: 0 auto;
}

.partner__title {
  text-align: center;
  letter-spacing: -0.037em;
  @include adaptiv-font(44, 35);
  padding: 0 0 36px 0;
}

.partner .owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}


.partner .owl-item {
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 5px !important;
  justify-content: center;
}

.partner .owl-carousel .owl-nav {
  position: absolute;
  top: 30%;
  width: 100%;
  height: 25px;
  z-index: -1;
}

.partner .owl-carousel .owl-nav .owl-prev {
  left: -3px;
  outline: none;
  position: absolute;
  z-index: -1;
}

.partner .owl-carousel .owl-nav .owl-next {
  right: 3px;
  position: absolute;
  outline: none;

  img {
    transform: rotate(180deg);
  }
}

.owl-carousel .owl-item img {
  display: block;
  width: 84%;
}


/*------------footer---------------*/
.footer {
  padding: 62px 0 45.3px;
  background-color: $footer-bg;
  @include adaptiv-font(20, 19);
  line-height: 1.55em;
}

.footer__container {
  max-width: 1237px;
  width: 100%;
  margin: 0 auto;
}

.footer__inner {
  display: flex;
  padding-left: 33px;
}

.footer__logo {
  max-width: 162px;
  width: 100%;
  margin-right: 107px;

  img {
    width: 100%;

    &:nth-child(2) {
      display: none;
    }
  }
}

.footer__about {
  max-width: 214px;
  width: 100%;
  padding-top: 3px;
  margin-right: 90px;

  a {
    //line-height: 1.7em;
    letter-spacing: -0.001em;
    position: relative;

    &::after {
      content: "";
      display: none;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: $txt-color;
      bottom: 5px;
    }

    &:active:after {
      display: block;
    }
  }
}

.footer__about-title,
.footer__contacts-title,
.footer__phones-title {
  font-family: 'Circe-Bold';
  font-weight: 700;
  @include adaptiv-font(26, 21);
  line-height: 1em;
  letter-spacing: -0.023em;
  color: $txt-color;
  padding: 0 0 21px 0;
}


.footer__contacts {
  max-width: 328px;
  width: 100%;
  //line-height: 1.7em;
  letter-spacing: -0.001em;

  .footer__employee {
    padding-bottom: 7px;
  }

  .footer__participants {
    padding-bottom: 17px;
  }

  .footer__email {
    font-family: 'Circe-Bold';
    font-weight: 700;
  }
}

.footer__phones {
  max-width: 305px;
  width: 100%;
  line-height: 1.38em;
  letter-spacing: -0.045em;;
  padding: 0 0 20px 0;

  .footer__phones-title {
    padding: 0 0 16px 0;
  }

  ul {
    a {
      font-family: 'Circe-Bold';
      font-weight: 700;
      @include adaptiv-font(17, 17);
      letter-spacing: 0.04em;
      position: relative;
      padding-left: 7px;
      /*border-bottom: 1px solid $txt-color;*/
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $txt-color;
        bottom: 4px;
      }

      &:active {
        color: #AE7669;
      }

      &:active:after {
        background-color: #AE7669;
      }
    }
  }
}

.footer__login {
  padding: 0 0 26px 0;

  a {
    font-family: 'MuseoSansCyrl-Medium';
    font-weight: 600;
    padding: 0 0 18px 42px;
    position: relative;
    @include adaptiv-font(25, 25);
    line-height: 1.22em;
    letter-spacing: -0.02em;
    color: $txt-color;

    &::before {
      content: "\f101";
      @include adaptiv-font(28, 28);
      left: 0;
      font-family: "Flaticon";
      color: $nav-icon-color;
      position: absolute;
      top: 0;
    }
  }
}


.header__phone-icon {
  display: none;
}

.menu-burger__btn {
  display: none;
}

/*------------------burger--------------------*/
.menu-burger__inner {
  position: absolute;
  text-align: center;
  background-color: $burger-menu-bg;
  max-width: 100%;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  margin-top: -100vh;
  overflow: hidden;
  transition: all .5s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu-burger__close {
  position: relative;

  a {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 50px 20px;

    &::before {
      content: "\f104";
      font-family: "Flaticon";
      position: absolute;
      right: 22px;
      top: 25px;
      color: $btn-title-color;
    }
  }
}

.menu-burger__content {
  //padding: 103px 0 0 0;
}

.menu-burger__menu {

  ul {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }

  li {
    display: block;
    width: 100%;

    &:last-child {
      border-bottom: 2px solid $burger-menu-nav-border;
    }
  }

  a {
    font-family: 'Circe-Regular';
    font-weight: 400;
    font-size: 30px;
    line-height: 1em;
    color: $burger-menu-nav-color;
    text-transform: capitalize;
    letter-spacing: 0.004em;
    border-top: 2px solid $burger-menu-nav-border;
    width: 100%;
    padding: 20px 20px;

    &:active {
      color: #714d47;
      background-color: rgba(239, 204, 191, 0.5);
    }
  }
}

.menu-burger__login {
  width: 100%;
  background-color: $burger-menu-login-bg;
  margin: 0 0 10px 0;

  /*&:active {
    background-color: black;
  }*/

  a {
    font-family: 'MuseoSansCyrl-Medium';
    font-weight: 600;
    padding: 20px 20px 25px 37px;
    position: relative;

    &::before {
      content: "\f101";
      font-family: "Flaticon";
      color: $burger-menu-nav-color;
      font-size: 24px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }

    &:active {
      &::after {
        content: "";
        position: absolute;
        width: 113px;
        height: 2px;
        background-color: $txt-color;
        bottom: 15px;
        right: 20px;

        &::before {
          color: $txt-color;
        }
      }
    }
  }
}

.menu-burger__btn-group {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;

  .menu-burger__phone-btn,
  .menu-burger__login-btn {
    font-family: 'Circe-Bold';
    font-weight: 700;
    font-size: 20px;
    color: $nav-btn-color;
    letter-spacing: 0.05em;
    border: 2px solid $nav-btn-color;
    border-radius: 8px;
    background-color: $nav-btn-bg;
    padding: 20px 20px;

    &:active {
      color: $btn-title-color;
      background-color: $btn-bg-hover-color;
    }
  }

  .menu-burger__phone-btn {
    margin: 0 0 10px 0;
  }
}

.active__menu-burger {
  margin-top: 0;
}


/*------------------------index__services-homecare----------------------------------------*/
/*------------------------index__services-skilledcare----------------------------------------*/
/*------------------------index__services-transportation----------------------------------------*/
/*----------home-care --------------*/
.home-care,
.skilled-care,
.transportation {
  padding: 171px 0 127px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}
.transportation {
  padding: 177px 0;
}
.home-care {
  background-image: url("../img/home-care-bg.jpg");
}
.skilled-care {
  background-image: url("../img/skilled-care-bg.jpg");
}

.transportation {
  background-image: url("../img/transportation-bg.jpg");
}

.home-care__container,
.skilled-care__container,
.transportation__container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}
.transportation__content {
  padding: 0 115px;
}

.home-care__title,
.skilled-care__title,
.transportation__title {
  @include adaptiv-font(46, 42);
  text-transform: uppercase;
  color: $home-care__title;
  line-height: 1.23em;
  padding: 0 0 59px 0;
}

.home-care__txt {
  display: inline;
}
.home-care__btn {
  margin: 59px 0 0 0;
}

.skilled-care__info {
  padding: 0 30px;
}

.skilled-care__txt {
  display: inline;
  &:last-child {
    display: block;
    padding: 0 0 59px 0;
  }
}
.transportation__info {
  padding: 0 30px;
}

.transportation__txt {
  display: block;
  padding: 0 0 65px 0;
}

/*----------------what-is --------*/
.what-is,
.what-is-skilled,
.what-is-transportation {
  padding: 107px 0 102px;
}

.what-is__container,
.what-is-skilled__container,
.what-is-transportation__container {
  max-width: 1132px;
  width: 100%;
  margin: 0 auto;
}

.what-is__title,
.advantages__title,
.how-much__title,
.what-is-skilled__title,
.how-much-skilled__title,
.what-is-transportation__title,
.how-much-transportation__title {
  text-align: center;
  @include adaptiv-font(40, 35);
  line-height: 1.13em;
  padding: 0 0 29px 0;
}
.what-is-transportation__title {
  p {
    display: inline;
  }
}

/*-----------advantages--------------*/
.advantages,
.advantages-transportation {
  padding: 107px 0 90px;
  background-color: $advantages-bg;
}

.advantages__container,
.advantages-transportation__container {
  max-width: 1225px;
  width: 100%;
  margin: 0 auto;
}

.advantages-transportation__title {
  text-align: center;
  padding: 0 0 30px 0;
  text-transform: capitalize;
}

.advantages__info-text {
  &:last-child {
    padding: 30px 0 30px;
  }
}

.advantages__checkbox {
  li {
    position: relative;
    padding: 0 0 0 43px;
    line-height: 1.96em;
    img {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.advantages-transportation__checkbox {
  padding-right: 86px;
  li {
    position: relative;
    padding: 0 0 0 43px;
    line-height: 1.5em;
    img {
      position: absolute;
      left: 0;
      top: 25%;
      transform: translateY(-50%);
    }
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      padding-right: 47px;
    }
    &:nth-child(4) {
      img {
        top: 47%;
        transform: translateY(-50%);
      }
    }
  }
}

/*----------how-much-------------*/
/*----how-much-skilled---*/
/*----how-much-transportation---*/
.how-much {
  padding: 0 0 112px;
}

.how-much-skilled,
.how-much-transportation {
  padding: 107px 0 112px;
}

.how-much__container,
.how-much-skilled__container,
.how-much-transportation__container {
  max-width: 1206px;
  width: 100%;
  margin: 0 auto;
}
.how-much-skilled__inner,
.how-much-transportation__inner {
  .how-much__title {
    display: none;
  }
}
.how-much__info-text,
.how-much-skilled__info-text,
.how-much-transportation__info-text {
  &:last-child {
    padding: 30px 0 0;
  }
}

/*--------------questioner-------------*/
.questioner__container {
  padding: 107px 0 97px;
}

.questioner__title {
  &:last-child {
    display: none;
  }
}


















@import "media";
